*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.selector_container{
    width: 40%;
    margin:auto;
    margin-top: 5%;
    height: 10rem;
    text-align: center;
}

h1{
    font-weight: bolder;
    font-size: 150%;
}

#all{
    padding: 1% 5%;
    border-radius: 33px;
    border: none;
    font-weight: bolder;
    color: white;
    background: black;
}

#all:hover{
    background: white;
    color: black;
    transition: .5s;
    border: solid 1px grey;
}

#main{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: auto;
    justify-content: center;
}

p{
    font-weight: bolder;
}
